*{
	margin: 0; /*body上的是8px*/
	padding: 0;
	text-decoration:none;
	list-style: none;
	/* font-style: normal; */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 清除高亮颜色 */
	box-sizing: border-box;
}
img{
	width: 100%;
	height: 100%;
	border: 0;
	display: block;
}