@font-face {
  font-family: 'iconfont';  /* project id 577073 */
  src: url('https://at.alicdn.com/t/font_577073_sq4tvugbi4dbzkt9.eot');
  src: url('https://at.alicdn.com/t/font_577073_sq4tvugbi4dbzkt9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_577073_sq4tvugbi4dbzkt9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_577073_sq4tvugbi4dbzkt9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_577073_sq4tvugbi4dbzkt9.svg#iconfont') format('svg');
}
body{
	background-color: #f1f1f1;
}
.header{
	width: 100%;
	height: 0.74rem;
	background-color: #010101;
	padding: 0 0.18rem;
	font-size: 0.48rem;
	align-items: baseline;
	position: fixed;
	overflow-y: hidden;
}
.header12{
	width: 100%;
	height: 0.74rem;
	background-color: #010101;
}
.header_top{
	width: 100%;
	color: #fcfcfc;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header_top span{
	font-family: iconfont;

}
.size{
	font-size: 0.54rem;
}
.header1{
	background-color: #fff;
	width: 100%;
	height: 0.74rem;
	padding: 0 0.18rem;
	font-size: 0.48rem;
	align-items: baseline;
}
.header_top1{
	width: 100%;
	color: #000;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header_top1 span{
	font-family: iconfont;

}
.size1{
	font-size: 0.54rem;
}
.content{
	width: 100%;
	height: auto;
	margin-top: 0.3rem;
}
.contentimg{
	width: 100%;
	height: 10.7rem;
}
.contentimg img{
	width: 100%;
	height: 100%;
}
.shuoming{
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 0.3rem;
	font-size: 0.40rem;
}
.shuoming_top{
	width: 100%;
	display: flex;
	justify-content: space-around;
	border-bottom: 0.03rem dashed #b0b0b0;
}
.shuoming_left{
	width: 6.5rem;
	height: 1.20rem;
	border-right: 0.05rem solid #b0b0b0;
	margin: 0.34rem 0;
	margin-left: 0.35rem;
}
.shuoming_right{
	width: 3.05rem;
	height: 1.18rem;
	background-color: #FF0090;
	border-radius: 0.2rem;
	margin: 0.34rem 0;
	text-align: center;
	line-height: 1.20rem;
}
.shuoming_right span{
	font-size: 0.45rem;
	color: #fff;
}
.shuoming_bottom{
	width: 100%;
	height: 1.25rem;
	padding-top: 0.35rem;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}
.shuoming_bottom_left{
	width: 5.20rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-left: 0.45rem;
}
.shuoming_bottom_left span{
	font-size: 0.45rem;
	color: #ff6500;
}
.shuoming_bottom_left h5{
	font-weight: normal;
	font-size: 0.32rem;
	color: #999;
	margin-top: 0.08rem;
}
.shuoming_bottom_right{
	display: flex;
	margin-right: 0.3rem;
	justify-content: center;
	align-content: center;
}
.shuoming_bottom_right h5{
	margin-left: 0.1rem;
}
.shuoming_bottom_right h5,.shuoming_bottom_right span{
	font-weight: normal;
	font-size: 0.32rem;
	color: #999;
}
.shuxing{
	width: 100%;
	height: 1.3rem;
	margin: 0.3rem 0;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	font-size: 0.4rem;
	line-height: 1.3rem;
}
.shuxing h5{
	font-weight: normal;
	margin: 0 0.35rem ;
}
.shuxing span{
	font-family: iconfont;
	margin:0 0.35rem ;
}
.xiangguan{
	width: 100%;
	height: auto;
	background: #fff;
}
.xiangguan_top{
	padding: 0.35rem 0;
	display: flex;
	justify-content: left;
	border: 0.02rem solid #b0b0b0;
}
.xiangguan_top img{
	width: 1.45rem;
	height: 1.45rem;
	margin-left: 0.35rem;
}
.baobei{
	width: 3rem;
	margin-left: 0.35rem;
	margin-top: 0.25rem;
	display: flex;
	flex-wrap: wrap;

}
.baobei span{
	font-size: 0.5rem;
}
.baobei p{
	font-size: 0.4rem;
	font-weight: normal;
	color: #ccc;
}
.xiangguan_bottom{
	width: 100%;
	height: auto;
	
	padding: 0.35rem;
	background: #fff;
	display: flex;
	justify-content: space-between;

}
.chakan{
	width: 4.8rem;
	height: 1.1rem;
	border: 0.02rem solid #b0b0b0;
	border-radius: 0.20rem;
	text-align: center;
	margin: 0 0.35rem;
	line-height: 1.1rem;
	display: flex;
	justify-content: center;
}
.chakan h5{
	font-weight: normal;
	font-size: 0.45rem;
	color: #999;
}
.chakan span{
	font-family: iconfont;
	color: #999;
	font-size: 0.45rem;
}
.middle{
	width: 100%;
	height: 5.3rem;
	/* background-color: #fff; */
}
.middle img{
	margin-top: 0.3rem;
	width: 100%;
	height: 100%;
}
.pingjia{
	width: 100%;
	height: auto;
	margin-top: 0.3rem;
	background-color: #fff;
}
.pingjia_top{
	width: 100%;
	height: 1.25rem;
	display: flex;
	justify-content: space-around;
	align-content: center;
}
.pingjia_top_item{
	border-top: 0.06rem solid #ff6700;
	background-color: #fff;
	text-align: center;
	line-height: 1.25rem;
	font-size: 0.4rem;
}
.pingjia_top_item1{
	border: 0;
}
.pingjia_bottom{
	width: 100%;
	height: auto;
	margin-top: 0.3rem;
}
.pingjia_bottom img{
	width: 100%;
	height: 2.6rem;
}
.footer{
	width: 100%;
	height: 1.54rem;
	background-color: #fdfdfd;
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}
.footer_left{
	width: 3.15rem;
	height: 100%;
}
.footer_left_item{
	width: 1.57rem;
	height: 100%;
	float: left;
	border-right: 0.01rem solid #b0b0b0;
	font-size: 0.5rem;
	padding: 0.25rem;
	text-align: center;
}
.footer_left_item1{
	border: 0;
}
.footer_left_item span{
	font-family: iconfont;
}
.footer_right{
	width: 7.64rem;
	height: 100%;
	background-color: #fd6134;
}
.footer_right_item{
	width: 3.82rem;
	height: 100%;
	float: left;
	color: #fff;
	font-size: 0.5rem;
	text-align: center;
	line-height: 1.54rem;
}
.footer_right_item1{
	background-color: red;
}